.latest-head {
    text-transform: uppercase;
    color: #0089ff;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    width: 100%;
    margin-top: 100px;
}

.latest-work {
    padding: 0;

    h3 {
        font-size: 32px;
        margin-bottom: 15px;
        line-height: 34px;
    }

    .work-grid {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        .work-left {
            margin-bottom: 100px;
            position: relative;
            width: 330px;
            height: 330px;
            cursor: pointer;
            border-radius: 6px;

            .work-screens {
                width: 330px;
                position: absolute;
                z-index: 2;

                img {
                    width: 100%;
                    border-radius: 7px;
                }
            }

            .work-type {
                display: none;
                text-align: left;
                border-radius: 6px;
                transition: all .5s ease-out;

                .number {
                    font-size: 52px;
                    color: #c8ccd7;
                    line-height: 1;
                    margin-bottom: 10px;
                }

                .left-head-title {
                    height: calc(100% - 62px);
                    position: relative;

                    .about-project-title {
                        color: #000;
                        line-height: 1;
                        font-size: 32px;
                        display: inline-block;

                        .proj-name {
                            font-size: 26px;
                            width: 100%;
                            display: inline-block;
                            margin-bottom: 10px;
                        }

                        .my-role {
                            font-size: 14px;
                            line-height: 18px;
                            display: inline-block;
                        }

                        .proj-desc {
                            font-size: 16px;
                            line-height: 20px;
                            display: inline-block;
                            color: #666666;
                            margin-bottom: 15px;
                        }
                    }

                    a {
                        background: var(--btnblue);
                        color: #fff;
                        text-decoration: none;
                        padding: 16px 20px;
                        font-size: 18px;
                        cursor: pointer;
                        display: inline-block;
                        border-radius: 6px;
                        border: 2px solid transparent;
                        position: absolute;
                        bottom: 10px;
                        right: 0;
                    }
                }
            }

            &:hover {
                .work-type {
                    display: block;
                    width: 100%;
                    position: absolute;
                    height: 100%;
                    z-index: 3;
                    background-color: #fff;
                    padding: 15px;
                    text-align: left;
                    background-position: left bottom;
                }
            }
        }
    }
}